*.class
*.log
*.out
results/*
# sbt specific
.cache
.history
.lib/
.idea/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# large dataset
dataset/epsilon*
dml-scala/dataset/epsilon*

# Mac file system
.DS_Store

# config file
configs.xml
