*.class
*.log

# sbt specific
.cache
.history
.lib/
.idea/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# large dataset
/dml-scala/dataset/epsilon*

# Mac file system
.DS_Store
