[submodule "bench-spark/src/main/scala/proxcocoa"]
	path = bench-spark/src/main/scala/proxcocoa
	url = git@github.com:gingsmith/proxcocoa.git
[submodule "bench-spark/src/main/scala/cocoa"]
	path = bench-spark/src/main/scala/cocoa
	url = git@github.com:gingsmith/cocoa.git
