{{ if .Values.gcePersistentDisk.enabled }}
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: nfs-server
spec:
  replicas: 1
  selector:
    matchLabels:
      role: nfs-server
  template:
    metadata:
      labels:
        role: nfs-server
    spec:
      containers:
      - name: nfs-server
        image: gcr.io/google_containers/volume-nfs:0.8
        ports:
          - name: nfs
            containerPort: 2049
          - name: mountd
            containerPort: 20048
          - name: rpcbind
            containerPort: 111
        securityContext:
          privileged: true
        volumeMounts:
          - mountPath: /exports
            name: gce-pd-volume
      volumes:
        - name: gce-pd-volume
          gcePersistentDisk:
            pdName: {{ .Values.gcePersistentDisk.pdName }}
            fsType: ext4
{{ end }}
