{% extends 'main/base.html' %}

{% block content %}
<div id="nodes-list" class="card-deck"></div>
{% endblock %}
{% block scripts %}
<script id="card-template" type="text/x-jsrender">
    <div class="card w-25 node-card" style="max-width:40rem" id="card-<%>name%>">
        <h4 class="card-header <%if phase === 'Running'%>bg-success<%else phase === 'Pending'%>bg-warning<%else%>bg-danger<%/if%>">
            <span data-feather="server"></span><a href="/worker/<%>name%>/"><%>name%></a>
        </h4>
        <div class="card-body list-group">
            <!--<div class="d-flex w-100 justify-content-between">
                <span class="mb-1">Labels: </span>
                <span><%>labels%></span>
            </div>-->
            <div class="d-flex w-100 justify-content-between">
                <span class="mb-1">Ip: </span>
                <span><%>ip%></span>
            </div>
            <div class="d-flex w-100 justify-content-between">
                <span class="mb-1">Phase: </span>
                <span><%>phase%></span>
            </div>
            <div class="d-flex flex-column w-100 justify-content-between">
                <svg class="d-flex w-100 cpu" style="height:10rem;"></svg>
                <svg class="d-flex w-100 memory" style="height:10rem;"></svg>
            </div>
        </div>
    </div>
</script>

<script type="text/javascript">
    var PodMonitor = function(){
        this.nodes = {}
        this.nodeRefreshInterval = 1 * 1000;
        this.metricsRefreshInterval = 20 * 1000;
        this.renderInterval = 1 * 1000;

        this.updateNodes = function(){
            var nodes = this.nodes;
            $.getJSON("api/pods", function(data){
                $.each(data, function(index, value){
                    if(!(value['name'] in nodes)){
                        nodes[value['name']] = {};
                        nodes[value['name']]['last_metrics_update'] = new Date(0);
                    }

                    nodes[value['name']]['node_info'] = value;
                });
            });
        }

        this.updateMetrics = function(){
            var nodes = this.nodes;

            $.each(nodes, function(node, value){
                $.getJSON("api/metrics/" + node + "/",
                    {since: value['last_metrics_update'].toJSON()},
                    function(data){
                        if(!('node_metrics' in value)){
                            value['node_metrics'] = [];
                        }

                        $.each(data, function(key, values){
                            if(!(key in value['node_metrics'])){
                                value['node_metrics'][key] = [];
                            }
                            value['node_metrics'][key] = value['node_metrics'][key].concat(values);
                            value['last_metrics_update'] = new Date();
                        });
                    });
            });
        }

        this.plotMetrics = function(element, metrics, value, title, transform){
            if(!(metrics['node_metrics']) || metrics['node_metrics'][value].length == 0){
                return;
            }

            prev = metrics['node_metrics'][value][0]['value'];
            data = [];

            len = metrics['node_metrics'][value].length;

            var max = 0;

            var parseTime = d3.timeParse("%Y-%m-%dT%H:%M:%S.%fZ");

            for(var i = 0; i < len; i++){
                var cur = metrics['node_metrics'][value][i];
                cur_val = transform(cur['value'], prev);

                if(cur_val > max){
                    max = cur_val;
                }

                data.push({x: parseTime(cur['date']), y: cur_val});
                prev = cur['value'];
            }

            if(data.length == 1){
                var newData = {x: data[0].x, y: data[0].y};
                data[0].x = new Date(newData.x.getTime() - 1000)
                data.push(newData);
            }

            var el = $(element);
            var svg = d3.select(el[0]),
                margin = {top: 10, right: 10, bottom: 30, left: 40},
                width = el.width() - margin.left - margin.right,
                height = el.height() - margin.top - margin.bottom,
                g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            var x = d3.scaleTime().range([0, width]);
            var y = d3.scaleLinear().range([height, 0]);

            // define the line
            var line = d3.line()
                .x(function(d) { return x(d.x); })
                .y(function(d) { return y(d.y); })
                .curve(d3.curveMonotoneX);

            x.domain(d3.extent(data, function(d) { return d.x; }));
            y.domain([0, Math.max(1, d3.max(data, function(d) { return d.y; }))]);

            g.append("path")
                .data([data])
                .attr("class", "line")
                .attr("d", line);

            // Add the X Axis
            g.append("g")
                .attr("transform", "translate(0," + height + ")")
                .call(d3.axisBottom(x));

            // Add the Y Axis
            g.append("g")
                .call(d3.axisLeft(y));

            g.append("text")
                .attr("x", (width / 2))
                .attr("y", margin.top)
                .attr("text-anchor", "middle")
                .style("font-size", "16px")
                .text(title);
        }

        this.renderNodes = function(){
            var self = this;

            $("#nodes-list").empty();

            $.each(self.nodes, function(node, value){
                var card = $("#card-template").render(value['node_info']);
                $("#nodes-list").append(card)

                if(('node_metrics' in value)){
                    self.plotMetrics("#card-" + node + " svg.cpu", value, "container_cpu_usage_seconds_total", "CPU (%)", function(cur, prev){return 100 * 1000 * (cur - prev) / self.metricsRefreshInterval});
                    self.plotMetrics("#card-" + node + " svg.memory", value,  "container_memory_usage_bytes", "Memory (Mb)", function(cur, prev){return cur / 1024 / 1024});
                }
            });

            feather.replace();
        }

        this.updateNodes();
        setTimeout(this.updateMetrics, 1000);

        setInterval(this.updateNodes, this.nodeRefreshInterval);
        setInterval(this.updateMetrics, this.metricsRefreshInterval);
        setInterval(this.renderNodes, this.renderInterval);
    }

    $(document).ready(function () {
        $.views.settings.delimiters("<%", "%>");

        var monitor = PodMonitor();
    })
</script>
{% endblock %}