{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="row d-flex flex-column h-100">
    <div class="col-12 flex-grow-1 d-flex flex-column">
        <div class="row">
            <div class="col-3">Name <button type="button" class="btn btn-outline-danger" id="delete-button"><span data-feather="x"></span></button>: </div>
            <div class="col-9">{{ run.name }}</div>
        </div>
        <div class="row">
            <div class="col-3">Created: </div>
            <div class="col-9">{{ run.created_at }}</div>
        </div>
        <div class="row">
            <div class="col-3">State: </div>
            <div class="col-9" id="run-state">{{ run.state }}</div>
        </div>
        <div class="row">
            <div class="col-3">Command: </div>
            <div class="col-9">{{ run.job_metadata.command }}</div>
        </div>
        <div class="row">
            <div class="col-3">Master-Worker: </div>
            <div class="col-9">{{ run.job_metadata.master_name }}</div>
        </div>
        <div class="row">
            <div class="col-3">Workers </div>
            <div class="col-9">{{ run.job_metadata.pods }}</div>
        </div>
        <div class="row flex-grow-1 d-flex flex-column">
            <ul class="nav nav-tabs flex-grow-0" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="graph-tab" data-toggle="tab" href="#graph" role="tab" aria-controls="graph" aria-selected="true">Graphs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="stdout-tab" data-toggle="tab" href="#stdout" role="tab" aria-controls="stdout" aria-selected="false">Stdout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="stderr-tab" data-toggle="tab" href="#stderr" role="tab" aria-controls="stderr" aria-selected="false">Stderr</a>
                </li>
            </ul>
            <div class="tab-content flex-grow-1 d-flex flex-column" id="myTabContent">

                <div class="tab-pane fade show active flex-grow-1" style="height:0" id="graph" role="tabpanel" aria-labelledby="graph-tab">
                    <div class="dropdown" id="metric-dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Metric
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for metric in metrics %}
                                <a class="dropdown-item {% if forloop.first %}active {% endif %}" href="#">{{metric.name}}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <svg class="d-flex w-100" style="height:50rem;" id="metric-svg"></svg>
                </div>
                <div class="tab-pane fade scrollbar scrollbar-primary flex-grow-1" id="stdout" role="tabpanel" aria-labelledby="stdout-tab">
                    <pre>
                        {% for line in run.job_metadata.stdout %}
                        {{line}}\n
                        {% endfor %}
                    </pre>
                </div>
                <div class="tab-pane fade scrollbar scrollbar-primary flex-grow-1" id="stderr" role="tabpanel" aria-labelledby="stderr-tab">
                    <pre>
                            {% for line in run.job_metadata.stderr %}
                            {{line}}
                            {% endfor %}
                    </pre>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/podmonitor.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#delete-button").click(function(){
            $.ajax({
                url: "{% url 'api:run-detail' pk=run.id %}",
                type: 'DELETE',
                success: function(){
                    window.location.replace("/runs");
                }
            });
        });

        var updateRunData = function(){
            $.getJSON("{% url 'api:run-detail' pk=run.id %}",
                function(data){
                    $("#run-state").text(data['state']);
                    $("#stdout pre").text(data['job_metadata']["stdout"].join("\n"));
                    $("#stderr pre").text(data['job_metadata']["stderr"].join("\n"));
                    setTimeout(updateRunData, 1000)
                });
        };

        updateRunData();

        var monitor = PodMonitor('{{run.id}}', function(){return $("#metric-dropdown a.active").text()}, "#metric-svg", 'run', '{% url 'api:metrics-list' %}');

        var dropdownClick = function(){
            $("#metric-dropdown a").removeClass("active");
            $(this).addClass("active");
        };

        $("#metric-dropdown a").click(dropdownClick);

        var currentMetrics = [{% for metric in metrics %}'{{metric.name}}',{% endfor %}];

        var checkNewMetrics = function(){
                var newMetrics = monitor.metrics.filter(value => -1 === currentMetrics.indexOf(value));

                $.each(newMetrics, function(key, value){
                    var entry = $("<a class='dropdown-item' href='#'>" + value + "</a>");
                    $("#metric-dropdown .dropdown-menu").append(entry);
                    entry.click(dropdownClick);

                    if(currentMetrics.length == 0){
                        entry.addClass('active');
                    }

                    currentMetrics.push(value);
                });
        };

        setInterval(checkNewMetrics, 1000)
    });
</script>
{% endblock %}