{% extends 'main/base.html' %}

{% block content %}
<div class="row">
    <div class="col-3">Name: </div>
    <div class="col-9">{{ run.name }}</div>
</div>
<div class="row">
    <div class="col-3">Created: </div>
    <div class="col-9">{{ run.created_at }}</div>
</div>
<div class="row">
    <div class="col-3">State: </div>
    <div class="col-9">{{ run.state }}</div>
</div>
<div class="row">
    <div class="col-3">Command: </div>
    <div class="col-9">{{ job_meta.command }}</div>
</div>
<div class="row">
    <div class="col-3">Master-Worker: </div>
    <div class="col-9">{{ job_meta.master_name }}</div>
</div>
<div class="row">
    <div class="col-3">Workers </div>
    <div class="col-9">{{ job_meta.pods }}</div>
</div>
<div class="row">
    <div class="col-3">Stdout: </div>
    <div class="col-9"><pre>{{ job_meta.stdout }}</pre></div>
</div>
<div class="row">
    <div class="col-3">Stderr: </div>
    <div class="col-9"><pre>{{ job_meta.stderr }}</pre></div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}